.card {
  height: 100%;
  display: flex;
  padding: 0px 10px;
}

.active-bg {
  border-left: 7px solid #2b7fff;
}

.returned-bg {
  border-left: 7px solid #9D62DE;
}
 
.waiting-bg{
  border-left: 7px solid #F6BA2A;
}

.bc-bg {
  border-left: 7px solid #44B25D;
}

.active-tc {
  color: #2b7fff;
}

.bc-tc {
  color: #44B25D;
}

.returned-tc {
  color: #9D62DE;
}

.waiting-tc {
  color: #F6BA2A;
}

